.Form--container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "email     submit"
    "message   message";
  grid-gap: 5px;
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 4fr);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.Form--email {
  box-sizing: border-box;
  grid-area: email;
  border: 1px solid black;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}

.Form--message {
  box-sizing: border-box;
  grid-area: message;
  resize: none;
  border: 1px solid black;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}

.Form--submit {
  border: 1px solid black;
  box-sizing: border-box;
  grid-area: submit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
  box-shadow: 0 0 4px #999;
  border: none;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
  transform: scale(1);
  background-color: rgb(67, 113, 91);
  transition: background-color 0.1s;
}

.Form--submit:active {
  cursor: pointer;
  background-color: rgb(97, 165, 132);
}

.Form--submit--message {
  display: block;
  height: auto;
  width: 25vmax;
  min-height: 5vmax;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  padding: 5px;
}

.Form--success {
  background-color: rgb(67, 113, 91);
  color: white;
}

.Form--error {
  background-color: rgb(153, 28, 28);
  color: white;
}

@media (min-width: 1024px) {
  .Form--email {
    box-sizing: border-box;
  }

  .Form--message {
    box-sizing: border-box;
  }
  .Form--submit {
    box-sizing: border-box;
    transition: background-color 0.1s, transform 0.25s;
  }
  .Form--submit:hover {
    cursor: pointer;
    transform: scale(1.025);
    background-color: rgb(84, 143, 114);
  }
  .Form--submit:active {
    cursor: pointer;
    transform: scale(1);
    background-color: rgb(97, 165, 132);
  }
}
