.JumpToTop--container {
  display: none;
  width: auto;
  max-width: 100px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: transform 0.2s;
}

@media (min-width: 1024px) {
  .JumpToTop--container {
    display: block;
  }

  .JumpToTop--container:hover {
    transform: translateY(10px);
  }

  .JumpToTop--container:active {
    transform: translateY(-5px);
  }
}
