.JumpToTop--container {
  width: 100%;
  color: white;
  font-size: 64px;
  position: fixed;
  bottom: 80px;
  left: 60px;
  cursor: pointer;
  user-select: none;

  background-color: rgba(120, 200, 150, 0.5);
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  transition: background-color 0.1s, transform 0.2s;
}

.JumpToTop--container:hover {
  background-color: rgba(120, 200, 150, 0.6);
  transform: translateY(10px);
}

.JumpToTop--container:active {
  background-color: rgba(120, 200, 150, 0.7);
  transform: translateY(-5px);
}

.JumpToTop--arrow {
  position: relative;
  left: 8px;
  bottom: 72px;
}
