/* .JumpToTop--container {

  position: fixed;
  bottom: 80px;

  
} */

.JumpToTop--container {
  position: fixed;
  bottom: 80px;
  width: auto;
  max-width: 100px;
  cursor: pointer;
  user-select: none;
  border: none !important;
  box-shadow: 0 0 0;
  transition: background-color 0.1s, transform 0.2s;
}

.JumpToTop--container:hover {
  transform: translateY(10px);
}

.JumpToTop--container:active {
  transform: translateY(-5px);
}
