.NextPrevImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 13;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.4s;
  user-select: none;
  border: none;
}

.NextPrevImage--next {
  left: 90%;
  top: 50%;
}

.NextPrevImage--prev {
  left: 10%;
  top: 50%;
}

.NextPrevImage img {
  width: auto;
  max-width: 100%;
  border: none;
  box-shadow: 0 0 0;
}

@media (min-width: 1024px) {
  .NextPrevImage {
    width: 100px;
    height: 100px;
  }
}
