@media only screen and (max-width: 1900px) {
  .MainPage--Main {
    width: calc(1500 * 0.95 * 1px);
  }
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.95 * 1px);
    height: calc(216 * 0.95 * 1px);
  }
}

/* @media only screen and (max-width: 1850px) {
  .MainPage--Main {
    width: calc(1500 * 0.85 * 1px);
  } */
/* .MainPage--Main {
    width: 1400px;
  } */
/* .MainPage--Navbar {
    width: 200px;
  } */
/* .GalleryImage--image {
    width: calc(384 * 0.85 * 1px);
    height: calc(216 * 0.85 * 1px);
  }
} */

@media only screen and (max-width: 1830px) {
  .MainPage--Main {
    width: calc(1500 * 0.9 * 1px);
  }
  /* .MainPage--Main {
    width: 1400px;
  } */
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.9 * 1px);
    height: calc(216 * 0.9 * 1px);
  }
}

@media only screen and (max-width: 1740px) {
  .MainPage--Main {
    width: calc(1500 * 0.85 * 1px);
  }
  /* .MainPage--Main {
    width: 1400px;
  } */
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.85 * 1px);
    height: calc(216 * 0.85 * 1px);
  }
}

@media only screen and (max-width: 1650px) {
  .MainPage--Main {
    width: calc(1500 * 0.8 * 1px);
  }
  /* .MainPage--Main {
    width: 1400px;
  } */
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.8 * 1px);
    height: calc(216 * 0.8 * 1px);
  }
}

@media only screen and (max-width: 1560px) {
  .MainPage--Main {
    width: calc(1500 * 0.75 * 1px);
  }
  /* .MainPage--Main {
    width: 1400px;
  } */
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.75 * 1px);
    height: calc(216 * 0.75 * 1px);
  }
}

@media only screen and (max-width: 1480px) {
  .MainPage--Main {
    width: calc(1500 * 0.7 * 1px);
  }
  /* .MainPage--Main {
    width: 1400px;
  } */
  /* .MainPage--Navbar {
    width: 200px;
  } */
  .GalleryImage--image {
    width: calc(384 * 0.7 * 1px);
    height: calc(216 * 0.7 * 1px);
  }
}

@media only screen and (max-width: 1420px) {
  .MainPage--Main {
    width: calc(1500 * 0.7 * 1px);
  }

  .MainPage--Navbar {
    width: calc(300 * 0.9 * 1px);
  }

  .Navbar--list {
    width: calc(130 * 0.9 * 1px);
    /* top: calc(200 * 0.9 * 1px);
    left: calc(40 * 0.9 * 1px); */
    font-size: calc(24 * 0.9 * 1px);
  }

  .JumpToTop--container {
    font-size: calc(64 * 0.9 * 1px);

    width: calc(50 * 0.9 * 1px);
    height: calc(50 * 0.9 * 1px);

    /* padding: 20px; */
  }

  .JumpToTop--arrow {
    left: calc(8 * 0.9 * 1px);
    bottom: calc(72 * 0.9 * 1px);
  }
}

@media only screen and (max-width: 1380px) {
  .Gallery--container {
    grid-template-columns: repeat(3, 1fr);
  }

  .GalleryImage--image {
    width: calc(384 * 0.8 * 1px);
    height: calc(216 * 0.8 * 1px);
  }
}

@media only screen and (max-width: 1280px) {
  .Gallery--container {
    grid-template-columns: repeat(3, 1fr);
  }

  .GalleryImage--image {
    width: calc(384 * 0.75 * 1px);
    height: calc(216 * 0.75 * 1px);
  }
}

@media only screen and (max-width: 1200px) {
  .MainPage--Navbar {
    width: calc(300 * 0.8 * 1px);
  }

  .Navbar--list {
    width: calc(130 * 0.8 * 1px);
    /* top: calc(200 * 0.9 * 1px);
    left: calc(40 * 0.9 * 1px); */
    font-size: calc(24 * 0.8 * 1px);
  }

  .JumpToTop--container {
    font-size: calc(64 * 0.8 * 1px);

    width: calc(50 * 0.8 * 1px);
    height: calc(50 * 0.8 * 1px);

    /* padding: 20px; */
  }

  .JumpToTop--arrow {
    left: calc(8 * 0.8 * 1px);
    bottom: calc(72 * 0.8 * 1px);
  }
}

@media only screen and (max-width: 1160px) {
  .Gallery--container {
    grid-template-columns: repeat(3, 1fr);
  }

  .GalleryImage--image {
    width: calc(384 * 0.7 * 1px);
    height: calc(216 * 0.7 * 1px);
  }
}

@media only screen and (max-width: 1080px) {
  .Gallery--container {
    grid-template-columns: repeat(2, 1fr);
  }

  .GalleryImage--image {
    width: calc(384 * 1 * 1px);
    height: calc(216 * 1 * 1px);
  }

  .MainPage--Navbar {
    width: calc(300 * 0.7 * 1px);
  }

  .Navbar--list {
    width: calc(130 * 0.7 * 1px);
    top: calc(200 * 0.7 * 1px);
    left: calc(40 * 0.7 * 1px);
    font-size: calc(24 * 0.7 * 1px);
  }

  .JumpToTop--container {
    font-size: calc(64 * 0.7 * 1px);

    width: calc(50 * 0.7 * 1px);
    height: calc(50 * 0.7 * 1px);

    bottom: calc(80 * 0.7 * 1px);
    left: calc(60 * 0.7 * 1px);
  }

  .JumpToTop--arrow {
    left: calc(8 * 0.7 * 1px);
    bottom: calc(72 * 0.7 * 1px);
  }
}

@media only screen and (max-width: 1000px) {
  .GalleryImage--image {
    width: calc(384 * 0.9 * 1px);
    height: calc(216 * 0.9 * 1px);
  }

  .MainPage--Navbar {
    width: calc(300 * 0.7 * 1px);
  }

  .Navbar--list {
    width: calc(130 * 0.6 * 1px);
    top: calc(200 * 0.6 * 1px);
    left: calc(40 * 0.6 * 1px);
    font-size: calc(24 * 0.6 * 1px);
  }

  .JumpToTop--container {
    font-size: calc(64 * 0.6 * 1px);

    width: calc(50 * 0.6 * 1px);
    height: calc(50 * 0.6 * 1px);

    bottom: calc(80 * 0.6 * 1px);
    left: calc(60 * 0.6 * 1px);
  }

  .JumpToTop--arrow {
    left: calc(8 * 0.6 * 1px);
    bottom: calc(72 * 0.6 * 1px);
  }
}

@media only screen and (max-width: 900px) {
  .Gallery--container {
    grid-template-columns: repeat(2, 1fr);
  }

  .GalleryImage--image {
    width: calc(384 * 0.8 * 1px);
    height: calc(216 * 0.8 * 1px);
  }
}

/* @media only screen and (max-width: 1830px) { */
