.Contact--container {
  box-sizing: border-box;
  width: 90%;
  background-color: #fcfcfc;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 25px;
}

.Contact--profilePic {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.Contact--profilePic img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.Contact--info h2,
.Contact--links h2,
.Contact--phone h3 {
  padding: 10px 0;
}

.Contact--links li {
  padding: 3px 0;
}

.Contact--form {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 10px 0;
}

@media (min-width: 1024px) {
  .Contact--container {
    box-sizing: border-box;
    width: 95%;
    display: grid;
    grid-template-areas:
      "profilePic    links   phone"
      "profilePic    form    form"
      "info          form    form";
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .Contact--profilePic {
    grid-area: profilePic;
  }

  .Contact--info {
    grid-area: info;
  }

  .Contact--links {
    grid-area: links;
    margin: 0 40px;
  }

  .Contact--phone {
    grid-area: phone;
  }

  .Contact--form {
    grid-area: form;
    padding: 15px;
  }
}
