.ImageModal--modal {
  position: fixed;
  width: 1280px;
  height: 720px;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  animation: fadeIn 0.4s;
  user-select: none;
}

.ImageModal--shade {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  animation: fadeIn 0.4s;
  user-select: none;
}

.ImageModal--closeModal {
  position: fixed;
  width: 60px;
  height: 60px;
  /* left: 50%; */
  right: 1%;
  top: 8%;
  z-index: 30;
  /* background-color: yellow; */
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  animation: fadeIn 0.4s;
  cursor: pointer;
  user-select: none;
}

.ImageModal--modal--close,
.ImageModal--shade--close,
.ImageModal--closeModal--close {
  animation: fadeOut 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}
